
#image_container {
	max-width: 70em; /* 960 px */
	margin: 0 auto;
}

#list {
	width: 103.125%; /* 990px */
	overflow: hidden;
	margin-left: -1.562%; /* 15px */
	margin-bottom: -1.875em; /* 30px */
}

.item {
	width: 20.303%; /* 300px */
	float: left;
	margin: 0 1.515% 1.075em; /* 15px 30px */
}

.item .editable {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    position: absolute;
    right: 7px;
    top: 7px;
    color: white;
}

/* Start Pins */
#pins {
    top: 80px;
}

.pin {
    background: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #bbb;
       -moz-box-shadow: 0 1px 0 #bbb;
            box-shadow: 0 1px 0 #bbb;
    display: none;
    position: absolute;
    width: 240px;
}

.pin .editable {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    position: absolute;
    right: 7px;
    top: 7px;
    color: white;
}

.pin:hover .editable {
    display: block;
}

.pin .editable .borderable {
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    cursor: pointer;
    padding: 5px 8px;
    display: inline-block;
}

.pin .image-wrapper {
    background-image: url("../img/loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
}

.pin img {
    -webkit-border-top-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
    cursor: -webkit-zoom-in;
    cursor:    -moz-zoom-in;
    display: block;
    margin: 0;
    padding: 0;
    width: 240px;
}

.pin p {
    border-bottom: 1px solid #ddd;
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 12px;
    margin-bottom: 0;
    padding: 8px;
}

.pin strong {
    color: #777;
    font-weight: normal;
}

.pin-footer {
    color: #777;
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}

.pin-footer .dim {
    color: #999;
    font-weight: normal;
}

.pin-footer .avatar {
    background: white;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

.pin-footer .avatar img {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    height: 30px;
    width: 30px;
}

.pin-footer .text {
    line-height: 16px;
    margin-top: -1px;
    width: 180px;
}

.spinner {
    background: url('../img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height: 31px;
    margin: 0 auto;
    padding: 50px;
    width: 31px;
}

#the-end {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
}
/* End Pins */
