
#image_container {
	max-width: 70em; /* 960 px */
	margin: 0 auto;
}

#list {
	width: 103.125%; /* 990px */
	overflow: hidden;
	margin-left: -1.562%; /* 15px */
	margin-bottom: -1.875em; /* 30px */
}

.item {
	width: 100%; /* 300px */
	float: left;
	margin: 0 1.515% 1.075em; /* 15px 30px */
	height:100%;
}

#image_wrapper {
	width: 20.303%; /* 300px */
	float: left;
	margin: 0 1.515% 1.075em; /* 15px 30px */
}


#image_wrapper .editable {
    background: rgba(255, 255, 255, 0.4);
    background-image: url("add.jpg");
    border: 2px solid rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    position: absolute;
    right: 7px;
    top: 7px;
    color: white;
}

#image_wrapper:hover .editable {
    display: block;
}

#image_wrapper .editable .borderable {
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    cursor: pointer;
    padding: 5px 8px;
    display: inline-block;
}


#image-preview {
	width:100px;
	height:100px;
	
}

/* Start Pins */
#pins {
    top: 80px;
}

.pin {
    background: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #bbb;
       -moz-box-shadow: 0 1px 0 #bbb;
            box-shadow: 0 1px 0 #bbb;
    display: none;
    position: absolute;
    width: 240px;
}

#image_wrapper .editable {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.4);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    position: absolute;
    right: 7px;
    top: 7px;
    color: white;
}

#image_wrapper:hover .editable {
    display: block;
}

#image_wrapper .editable .borderable {
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    cursor: pointer;
    padding: 5px 8px;
    display: inline-block;
}

.ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; 
    border-width: 100 8px 8px 8px;
}

.spinner {
    background: url('../img/loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height: 31px;
    margin: 0 auto;
    padding: 50px;
    width: 31px;
}

#the-end {
    font-family: 'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 1.4em;
    font-style: italic;
    text-align: center;
}
/* End Pins */
